
body { margin: 0; padding: 0;}
#map { position: absolute; top: 0; bottom: 0; width: 95%; height: 55%; }

.geocoder {
    position: absolute;
    left: 15%;
    color: black;
    width:30em;
    margin-left: -15%;
    top: 45px;
}

#map {
    margin-top: 15%;
}