*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    text-align: center;
}

.menu1{
    background: #FE2817;
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

.menu1 ul{
    display: flex;
    list-style: none;
    padding: 5px;
    letter-spacing: 20px;
    font-size: 20px;
    margin-left: 62%;
}

.menu1 ul:visited{
    color: black;
}

.menu1 .fas{
    color: black;
}

.menu1 h3{
  padding: 5px;
}

  header {
    height: 64px;
    background: #FC7323;
    color: black;
    display: flex;
    justify-content: flex-end;
  }
  
  #btn-menu {
    display: none;
  }
  
  header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .menu ul {
    background: #FC7323;
    display: flex;
    list-style: none;
  }
  
  .menu ul ul {
    display: none;
  }
  
  .menu a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    line-height: 32px;
    font-weight: 700;
  }
  
  .menu a:hover {
    color: #555;
  }
  
  .menu a i {
    margin-left: 10px;
  }
  
  .menu ul li:hover ul {
    transition: all 0.3s ease;
    display: block;
    position: absolute;
  }

  @media (max-width: 1339px){
    .menu1 h2
    {
      display: flex;
      list-style: none;
      font-size: 20px;
      margin-left: 10%;
      word-spacing: 10px;
    }
    .menu1 ul {
        margin-left: 12%;
        word-spacing: 10px;
    }
    .menu1 ul li {
      display: flex;
      padding-right: 10px;
  }
    .menu1 a > i{
      margin-left: 60%;
      display: inline-table;
      width: 5%;
  }

}
  
  @media (max-width: 768px) {
    header label {
      display: block;
      padding-top: 16px;
      padding-right: 16px;
      transition: all 0.4s ease;
    }
    
    .menu {
      position: absolute;
      top: 100px;
      left: 0;
      width: 70%;
      transform: translateX(-100%);
      transition: all 0.3s;
    }
    
    .menu ul {
      flex-direction: column;
      display: block;
    }
    
    .menu ul li:hover ul {
      display: none;
      position: static;
    }
    
    .menu a i {
      position: absolute;
      right: 16px;
      line-height: 32px;
    }
    
    #btn-menu:checked ~ .menu {
      transform: translateX(0%);
    }
    
  }

  main{
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

main img{
  transform: translate(2%, 30%);
  width: 320px;
  height: 270px;
  opacity: 0.8;
}

.form1{
  padding: 35px;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  filter: blur(0.4px);
  box-shadow:
  /*bottom shadow*/
  0px 20px 20px rgba(255, 255, 255, 0.1),
  /* 0px 5px 10px rgba(0,0,0,0.1), */
  /*long bottom shadow*/
  /* 0px 70px 50px rgba(0,0,0,0.1), */
  /*right shadow*/
  0px 50px 50px rgba(0,0,0,0.1),
  /*left shadow*/
  -30px 50px 50px rgba(0,0,0,0.1), 
  /*right inset*/
  inset 20px 0px 60px rgba(255, 255, 255, 0.1),
  /*left inset*/
  inset -20px 0px 60px rgba(255, 255, 255, 0.1);

}

.form1 label{
  display: inline-block;
  width: 200px;
}

.form1 input, .form1 select{
  margin: auto;
  border-radius: 2px;
  width: 85%;
  height: 30px;
  justify-content: flex-start;
}

.form1 input[type="submit"]{
  background-color: #FC7323;
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
}

.mapa{
  width: 30%;
  height: 20%;
}

textarea {
  resize: none;
}

.button{
  background-color: #FC7323;
  width: 10%;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 90%;
  padding: 50px;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #FC7323;
  color: white;
  text-transform: uppercase;
}

td > a{
  text-decoration: none;
  color: red;
}

td > a:hover{
  text-decoration: none;
  color: #555;
}

.mensaje{
  font-size: 20px;
  padding: 2px;
}

.menu ul li b{
  color: white;
  position: absolute;
  margin-top: -15px;
  z-index: 2;
}