*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.logo_seguiapp{
    margin-top: -50px;
    width: 15%;
    float: right;
    padding: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

:focus{
      outline: none;
  }
  
  .form_wrap{
      width: 700px;
      height: 650px;
      margin: 50px auto;
      display: flex;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .form_wrap2{
    justify-content: center;
    width: 600px;
    height: 730px;
    margin: 50px auto;
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

  .form_wrap .h2{
    display: flex;
  }
  
  /* Informacion de Contacto*/
  
  .cantact_info::before{
      content: '';
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
  
      opacity: 0.9;
  }
  
  .cantact_info{
      width: 38%;
      position: relative;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #ffffff;
  
  }
  
  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: black;
  }
  
  .info_title{
      margin-bottom: 60px;
      color: #fc7323;
  }
  
  .info_title span{
      font-size: 100px;
      display: block;
      text-align: center;
      margin-bottom: 15px;
  }
  
  .info_title h2{
      font-size: 35px;
      text-align: center;
  }
  
  .info_items p{
      display: flex;
      align-items: center;
  
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  
  .info_items p:nth-child(1) span{
      font-size: 30px;
      margin-right: 10px;
  }
  
  .info_items p:nth-child(2) span{
      font-size: 50px;
      margin-right: 15px;
      margin-left: 4px;
  }
  
  
  /* Formulario de contacto*/
  form.form_contact{
      width: 62%;
      padding: 30px 40px;
  }
  
  form.form_contact h2{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
  }
  
  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
  }

  form.form_contact label{
      font-weight: 600;
  }
  
  form.form_contact input,
  form.form_contact select{
      width: 100%;
      padding: 8px 0px 5px;
      margin-bottom: 20px;
  
      border: none;
      border-bottom: 2px solid #D1D1D1;
  
      font-family: 'Open sans';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
  }
  
  form.form_contact input[type="submit"]{
      width: 180px;
      background: #fc7323;
      padding: 10px;
      border: none;
      border-radius: 25px;
  
      align-self: flex-end;
  
      color: #fff;
      font-family: 'Open sans';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }
  
  form.form_contact input[type="submit"]:hover{
      background: #555;
  }
  
  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;
  
      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;
  
      float: right;
  }
  

@media (max-width: 768px){
    h2{
        font-size: 20px;
    }
    .logo_seguiapp{
        margin-top: -5px;
        width: 15%;
        float: right;
        padding: 20px;
        width: 100px;
        height: 100px;
    }
}