/* Importamos los iconos y las fuentes */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
  
main{
  text-align: center;
  padding: 30px;
}

main img{
  transform: translate(2%, 30%);
  width: 320px;
  height: 270px;
  opacity: 0.8;
} 


.fa-2x {
  font-size: 2em;
}
.fa, .fas, .far {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu {
  background:#212121;
  border-right:1px solid #e5e5e5;
  position: fixed;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  transform:translateZ(0) scale(1,1);
  z-index:1000;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width:250px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
  
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#fc7323;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* Estilos del modal */

.popup{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-content{
  height: 400px;
  width: 950px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close{
  position: absolute;
  font-size: 30px;
  top: 5px;
  color: red;
  right: 14px;
  padding: 5px;
  cursor: pointer;
}


.popup2{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-content2{
  height: 400px;
  width: 950px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close2{
  position: absolute;
  font-size: 30px;
  top: 5px;
  color: red;
  right: 14px;
  padding: 5px;
  cursor: pointer;
}

.popup .popup-content table .listar{
  color: red;
  text-decoration: none;
}

.popup .popup-content table .listar:hover{
  color: black;
}

/* Estilos de algunos iconos */
.eliminar{
  font-size: 20px;
  color: red;
}

.editar{
  font-size: 20px;
  color: blue;
}

.habilitar{
  font-size: 20px;
  color: chocolate;
}

.inhabilitar{
  font-size: 20px;
  color: greenyellow;
}

.add{
  width: 30%;
  background: #ddd;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
}

.icon{
  font-size: 20px;
  color: black;
}

.abrir{
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos del buscador */

.form #caja_busqueda{
  width: 20%;
}

.form{
  width: 90%;
  justify-content: flex-end;
}